@media screen and (max-width:758px) {
    .contenido {
        margin: 0px;
        display: block;
        gap: 15px;
        flex-wrap: wrap;
        flex-grow: 4;
        width: calc(250px + 67vw);
        overflow-x: overlay;
    }  
}

